.card {
  
  
  margin: 200px;
  justify-content: space-between;
  
  
  
  font-size: 25px;
  transform: scale();
  padding-bottom: 300px;
  
  background-repeat: no-repeat;
  background-clip: text;
  font-weight: 900;
text-shadow: 2px 2px rgba(255, 0, 0, 0.363);
 -webkit-text-stroke: 1px rgba(211, 209, 209, 0.473);
  
  
}
body {
  background-image: url(https://media1.tenor.com/m/_8guGOXY8KEAAAAd/israel-flag-gif.gif);
  background-attachment: fixed;
  background-size:cover;
  color: transparent;
  
  text-align: center;
  img {
  opacity: 0.5; /* Полупрозрачность 50% */
}
}



